@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 1vw;
  font-family: "Segoe UI", "Arial", "sans-serif";
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  color: #767678; 
}

.ms-Icon--Contact {
  color: #5ca52d;
}

.ms-Icon--WaffleOffice365 {
  color: white;
}

.grid-container {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #0078d7;
  color: white;
  padding: 10px 18px;
  height: 48px;
}

.navbar-title {
  display: inline-block;
  font-size: 1.15vw;
  font-weight: 600;
  margin: 0px 10px;
}

.middle-column {
  margin: 13px 10px 10px 20px;
  display: flex;
  flex: 1 1 1px;
  flex-direction: column;
}

.left-column {
  background-color: #f4f4f4;
  width: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eaeaea;
}

.sidebar-header {
  margin: 18px 12px 13px;
}

.sidebar-btn {
  width: 30px;
  height: 30px;
  border: none;
}

.sidebar-btn:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 1px #ededed;
}

.default-categories {
  display: flex;
  flex-direction: column;
}
.default-categories div, .newlist-container{
  height: 35px;
  padding-left: 16px;
}

.default-categories div:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.default-categories div:active {
  font-weight: 600;
  background-color: #ededed;
}

.default-categories a {
  display: inline-block;
  font-size: 1vw;
  font-weight: 200;
  margin-left: 5px;
  padding: 8px;
  color: #34373d;
}

.lists {
  margin-top: 30px;
}

.newlist-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newlist-container input {
  margin-left: 10px;
  width: 80%;
}

.add-task input,
.newlist-container input,
.right-column input,
.task-description textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

.newlist-container input::-webkit-input-placeholder,
.right-column input::-webkit-input-placeholder {
  /* Edge */
  color: #2e5cdb;
}

.newlist-container input::-ms-input-placeholder,
.right-column input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2e5cdb;
}

.newlist-container input::placeholder,
.right-column input::placeholder {
  color: #2e5cdb;
}

.newlist-container input:focus::-webkit-input-placeholder,
.right-column input:focus::-webkit-input-placeholder {
  /* Edge */
  color: #757575;
}

.newlist-container input:focus::-ms-input-placeholder,
.right-column input:focus::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #757575;
}

.newlist-container input:focus::placeholder,
.right-column input:focus::-ms-input-placeholder {
  color: #757575;
}

.newlist-container:focus-within .icon,
.add-steps:focus-within .icon {
  color: #757575;
}

.newlist-container svg {
  fill: #2e5cdb;
  margin: 5px 10px 0px 0px;
}

.left-column .sidebar-bottom {
  margin: 0px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  border-top: 1px solid #e6e6e6;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-column .sidebar-bottom a {
  margin: 0px;
  padding: 20px 20px 15px 20px;
}

.left-column .sidebar-bottom a:hover {
  background-color: #e9e9e9;
}

.toolbar {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.toolbar-title {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  font-weight: 500;
  font-size: 1.5vw;
}

.date-container {
  position: relative;
  top: 25px;
  right: 102px;
  font-size: 0.89vw;
  font-weight: 200;
  color: #767678;
}

.toolbar-actions span {
  padding: 12px;
}

.toolbar-actions span:hover {
  background-color: #ededed;
}

.task-list-container {
  margin: 28px 20px 5px 8px;
}

.task {
  cursor: pointer;
}

.add-task, .task {
  padding: 15px 0px;
  border-bottom: 1px solid #e5e5e5;
}

.task .step-count {
  display: block;
  color: #656565;
  font-size: 0.9vw;
}

.step-count {
  margin-left: 28px;
}

.add-task input, .task span:nth-child(2) {
  display: inline-block;
  margin-left: 10px;
  width: 92%;
  font-size: 1.02vw;
}

.tasks div:hover {
  background-color: #f4f4f4;
}

.task-list-container .add-task:focus-within {
  border-bottom: 1px solid black;
}

.add-task .ms-Icon--RadioBtnOff {
  display: none;
}

.add-task:focus-within .ms-Icon--RadioBtnOff {
  display: inline-block;
}

.add-task:focus-within .ms-Icon--Add {
  display: none;
}

.background-lines {
  margin-top: 5px;
  height: 68vh;
  background-image: linear-gradient(to bottom, white 52px, #e5e5e5 1px);
  background-size: 100% 53px;
}

.right-column {
  background-color: #f5f5f5;
  width: 0%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #eaeaea;
  padding: 10px 10px 0px 10px;
  justify-content: space-between;
  transition: 0.3s;
}

.right-column .icon {
  margin-right: 15px;
}

.task-details > div {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 12px;
  margin-bottom: 10px;
  color: #767678;
  border: 1px solid #eaeaea;
}

div.task-title {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.1vw;
  font-weight: 600;
  color: black;
  margin-bottom: 0px;
  border-bottom: 0px;
}

button.tickbox-container {
  position : relative;
}

button.tickbox-container i.ms-Icon--Completed, .ms-Icon--SkypeCircleCheck {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.1s;
}

button.tickbox-container i.ms-Icon--RadioBtnOff:hover {
  transition: opacity 0.1s;
  opacity: 0;
}

button.tickbox-container i.ms-Icon--Completed:hover {
  opacity: 1;
}

div.add-steps {
  border-top: 0px;
}

div.added-to-myday .ms-Icon--Cancel {
  display: none;
}

div.steps-container {
  border-top: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
  height: fit-content;
  padding: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.steps-container .step {
  width: 100%;
  padding: 14px;
  color: black;
  font-size: 1vw;
}
.step .step-name {
  display: inline-block;
  width: 76%;
  font-size: 1vw;
}

.steps-container .step .icon {
  font-size: 1vw;
}

div.remainder {
  flex-direction: column;
  height: fit-content;
  padding: 0px;
}

div.remainder > div {
  display: flex;
  align-items: center;
  height: 52px;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.task-details div.task-description {
  padding: 5px 12px;
  height: fit-content;
}

.task-details .task-description textarea {
  padding: 10px;
  height: 80px;
  width: 100%;
  resize: none;
}

.task-description:focus-within {
  border: 1px solid #2e5cdb;
}

.right-column-footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #767678;
  background-color: #f4f4f4;
  border-top: 1px solid #e5e5e5;
}

.right-column-footer .icon {
  padding: 10px;
  margin: 0px;
}

.right-column-footer .icon:hover {
  background-color: white;
  cursor: pointer;
}

.remainder div:hover,
.remainder ~ div:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
}

div.added-to-myday:hover, .step:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

div.added-to-myday:hover .ms-Icon--Cancel {
  display: inline-block;
}

div.task-description:hover {
  background-color: white;
  border: 1px solid #c2c2c2;
}

.lists .icon, .ms-Icon--Home, .task-title span:first-child i,
.add-steps i,
.task-details .added-to-myday,
.added-to-myday span:first-child i, .default-categories div:active, .ms-Icon--ToDoLogoOutline, .task .ms-Icon--RadioBtnOff, .step .ms-Icon--RadioBtnOff, .color-blue, .tickbox-container i {
  color: #2e5cdb;
}

.strike-through {
  text-decoration: line-through;
}

.reveal-checkedbox {
  opacity: 1;
}

.task-count {
  float: right;
  font-weight: 600;
}

.open-sidebar {
  width: 21vw;
}

.hide-element {
  display: none;
}

.open-task-panel {
  width: 25%;
  visibility: visible;
}