* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: #0078D7;
    color: white;
    height: 48px;
}

.content {
    width: 100%;
}

.navbar span, .toolbar span {
    margin: 5px;
    display: inline-block;
}

.sidebar-left {
    background-color: #F4F4F4;
    width: 0px;
    overflow-x: hidden;
    transition: width 0.3s;
}

.sidebar-header {
    margin: 20px auto;
}

.sidebar-header button {
    margin-left: 20px;
    cursor: pointer;
}

.sidebar-btn {
    width: 30px;
    height: 30px;
    border: none;
}

.sidebar-content div {
    height: 40px;
    padding: 12px;
}

.sidebar-content div:hover {
    background-color: #ededed;
    cursor: pointer;
}

.sidebar-content div:active {
    background-color: #ededed;
}

.sidebar-content a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    opacity: 0.8;
}

.sidebar-content i {
    vertical-align: top;
    
}

.sidebar-content div:last-child {
    background-color: blue;
    position: relative;
    bottom: 0px;
}

.sidebar-right {
    
}

.toolbar {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;
    align-items: center;
    margin: 25px 10px 10px 20px;
}

.toolbar-title {
    font-weight: 500;
    font-size: 1.5vw;
}

.date-container {
    font-size: 0.8vw;
    font-weight: 200;
}

.toolbar-actions {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: stretch;
    column-gap: 30px;
}

.toolbar-actions span {
    padding: 8px;
}

.toolbar-actions span:hover {
    background-color: #ededed;
}



